.card {
  width: 180px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
}

.card img {
  max-width: 160px;
  max-height: 160px;
  padding: 10px;
}

.quantity {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

h4 {
  margin: 0;
  padding: 5px;
  text-align: center;
  padding: 10px;
}

.product{
  text-align: center;
  max-width: 150px;

}

.product img{
  width: 100%;
}

